.title-slide {
  background-image: url(../figures/zambia_topo.png);
	background-position: bottom;
	background-size: 60%;
}
.title-slide h1 {
  font-size: 300%;
  color: #FE0909;
}
.title-slide h2, h3 {
  font-size: 250%;
  color: #FE0909;
  line-height: 1.5em;
}
.vlarge { font-size: 200% }
.large { font-size: 130% }
.large2 { font-size: 80% }
.small { font-size: 70% }
.verysmall { font-size: 50% }
li {
 font-size: 20px;
  margin: 18px 0;
}
.remark-inline-code{
  background: #272626; /* lighter */
  color: #FE0909; /* darker */
  border-radius: 0px;
  padding: 1px;
}

.red { color: red; }
/*../../slides/clark/training_data_workshop/figures/*/
