div.slide.titlepage {
  text-align: center;
  background: black;
}

div.slide.titlepage h1 {
  padding-top: 10%;
  margin-right: 0;
}

body
{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
  font-family: "Gill Sans MT", "Gill Sans", GillSans, sans-serif;
  font-size: 14pt;
}

table {
  border-width: 1px;
  border-spacing: 2px;
  border-top-style: solid;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-color: white;
  border-collapse: collapse;
  font-size: 0.7em;
}


table th {
  border-width: 4px;
  padding-left: 10px;
  padding-right: 25px;
  font-weight: bold;
  border-top-style: solid;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-color: white;
}

table td {
  border-width: 0px;
  padding-left: 10px;
  padding-right: 25px;
  border-style: none;
  border-color: white;
}
